{% load i18n %}{% autoescape off %}
{% blocktranslate %} Яаж нууц үгээ мартаж чадаж байнаа, энэ удаа л чамайг өршөөе. {{ site_name }}.{% endblocktranslate %}

{% translate "Ийшээ ороод шинэ нууц үгээ үүсгэ:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Нэвтрэх нэр чинь энэ шүү малаа:' %} {{ user.get_username }}

{% translate "талархаж явбал зүгээр шүү" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}